:root {
    /* --- fuentes ---- */ 
    --font-family: 'Montserrat', sans-serif;
    --font-size: 1.6rem; 
    --semi-bold: 600;
    --heading: 3.8rem;
    --small-title: 2.2rem;

    /* ---- colors ---- */ 
    --blanco: #FFF;
    --negro: #000;
    --azul-oscuro: #1F2937;
    --gris-oscuro: #1F2937;
    --gris-claro: #374151;
    --verde: #8FA206;

    /* ---- utilities ---- */ 
    --padding: 0px 34px;
}


*, 
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    overflow-x: hidden;
}
/* ---- Header ---- */

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
}

.header__logo {
    text-transform: uppercase;
    letter-spacing: 2px;
}


.header__nav {
    width: 370px;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__links {
    text-decoration: none;
    color: var(--blanco);
    margin-right: 30px;
    font-weight: var(--semi-bold);
    transition: .3s;
}

.header__links:hover {
    text-decoration: underline; 
}

.header__container2 {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ---- section hero ---- */ 

.hero {
    height: 90vh;
    background-image: url(/images/hero.png);
    background-repeat: no-repeat;
    padding-left: 80px;
}

.hero__title {
    font-size: var(--heading);
    color: var(--negro);
    padding-top: 220px;
}

.hero__button {
    padding: 15px 40px;
    margin-top: 30px;
    border-radius: 50px;
    border: 3px solid #F1F1F1;
}

/* ---- section our recomendations ---- */ 

.our-recomendations {
    padding: var(--padding);
    margin-bottom: 120px;
}

.our-recomendations__cards {
    display: flex;
    padding: var(--padding);
}

.our-recomendations {
    height: 340px;
}

.our-recomendations__title {
    margin-bottom: 40px;
    padding: var(--padding);
}

.our-recomendations-div {
    margin-right: 30px;
    height: 320px;
    border-radius: 20px 20px 20px 20px;
}

.cards__title {
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 15px;
}

.card__pgraph {
    padding-left: 20px;
}

.card1, 
.card3,
.card6{
    background-color: var(--gris-claro);
}

.card2, 
.card4 {
    background-color: var(--verde);
}

/* section Trending */ 

.trending {
    padding: var(--padding);
}

.trending__container {
    text-align: center;
}

.trending__title {
    text-align: left;
}